.bttn-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}

.bttn-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.bttn {
  border: 1px solid var(--blue);
  text-align: center;
  cursor: pointer;
  padding: 0.5rem 0;
}

.bttn:hover {
  background-color: var(--blue);
  color: var(--white);
}

.bttn.active {
  background-color: var(--red);
  border: 1px solid var(--red);
  color: var(--white);
}

.formRow {
  padding: 0.5rem 0;
}
